@font-face {
  font-family: "iconfont"; /* Project id 2608694 */
  src: url('iconfont.woff2?t=1623595148771') format('woff2'),
       url('iconfont.woff?t=1623595148771') format('woff'),
       url('iconfont.ttf?t=1623595148771') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jingyin:before {
  content: "\e629";
}

.icon-shexiangtou:before {
  content: "\e67e";
}

.icon-guaduan:before {
  content: "\e6fc";
}

.icon-luzhi:before {
  content: "\e60e";
}

.icon-maikefeng:before {
  content: "\e60b";
}

.icon-luzhi1:before {
  content: "\e612";
}

.icon-shexiangtou-guanbi:before {
  content: "\e7ce";
}

.icon-fox:before {
  content: "\e744";
}

.icon-gou:before {
  content: "\e60d";
}

.icon-glasses:before {
  content: "\e604";
}

