@font-face {
  font-family: "iconfont"; /* Project id 2608694 */
  src: url('iconfont.woff2?t=1623483113906') format('woff2'),
       url('iconfont.woff?t=1623483113906') format('woff'),
       url('iconfont.ttf?t=1623483113906') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fox:before {
  content: "\e744";
}

.icon-gou:before {
  content: "\e60d";
}

.icon-glasses:before {
  content: "\e604";
}

